//sekcja rowerowa

section.bikes {
    height: 170vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    div.slogan {
        flex-basis: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h1 {
            color: white;
            font-size: 2.6rem;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding-top: 20px;
        }

        h2 {
            padding: 20px 10px 20px 10px;
            color: white;
            font-size: 2rem;
            text-align: center;
            text-transform: uppercase;
        }

        p {
            font-size: 1.2rem;
            background-color: rgba(255, 255, 255, .2);
            border-radius: 25px;
            margin: 0 20px 0 20px;
            padding: 10px;
            text-align: center;
            letter-spacing: 1px;
        }

        p+p {
            background-color: transparent;
            margin-bottom: 10px;
        }

    }

    div.bicycles {
        flex-basis: 110vh;
        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-wrap: wrap;

        a {

            .bicycle {
                display: block;
                max-height: 35vh;
                width: auto;
                padding: 5px 0;
                transform: scale(1);
                transition: .3s;

                &:hover {
                    transform: scale(1.02);
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 1120px) {
    section.bikes {
        div.slogan {
            h1 {
                font-size: 2.2rem;
            }

            h2 {
                font-size: 1.8rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 1035px) {
    section.bikes {
        height: 150vh;

        div.slogan {
            flex-basis: 55vh;
        }

        div.bicycles {
            flex-basis: 95vh;

            a {
                .bicycle {
                    height: 28vh;
                }
            }
        }
    }
}

@media (max-width: 840px) {
    section.bikes {
        height: 135vh;

        div.slogan {
            flex-basis: 55vh;

            h2 {
                font-size: 1.4rem;
            }
        }

        div.bicycles {
            flex-basis: 80vh;

            a {
                .bicycle {
                    height: 25vh;
                }
            }
        }
    }
}

@media (max-width: 690px) {
    section.bikes {
        height: 130vh;

        div.bicycles {
            flex-basis: 75vh;

            a {
                .bicycle {
                    height: 20vh;
                }
            }
        }
    }
}

@media (max-width: 540px) {
    section.bikes {
        height: 130vh;

        div.bicycles {
            flex-basis: 75vh;

            a {
                .bicycle {
                    height: 15vh;
                }
            }
        }
    }
}

@media (orientation: portrait) {
    section.bikes {
        height: 130vh;

        div.slogan {
            flex-basis: 60vh;
        }

        div.bicycles {
            flex-basis: 70vh;

            a {
                .bicycle {
                    max-height: 20vh;
                }
            }
        }
    }
}

@media (orientation: portrait) and (max-width: 410px) {
    section.bikes {
        height: 175vh;

        div.bicycles {
            flex-basis: 120vh;
        }
    }
}