//sekcja przedmiotów

section.items {
    height: auto;
    width: 100%;

    h1 {
        color: white;
        font-size: 1.6rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-top: 20px;
    }

    h2 {
        padding: 20px 10px 20px 10px;
        color: white;
        font-size: 1.1rem;
        text-align: center;
        text-transform: uppercase;
    }
    div.items_photo {
        width: 100%;
        display: flex;
        flex-direction: column;
        div.photo {
            flex-basis: 20vh;
            width: 80%;
            margin: 20px auto;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            &.one {
                background-image: url(../img/breloki.jpg);
            }
            &.two {
                background-image: url(../img/lampka.jpg);
            }
            &.three {
                background-image: url(../img/zegar.jpg);
            }
        }
    }
}

@media (orientation: landscape) {
    section.items {
        height: auto;
        width: 100%;
        div.items_photo {
            flex-direction: row;
            div.photo {
                flex-grow: 1;
                margin: 5px;
                height: 70vh;
                transition: 1s;
                &.one:hover {
                    flex-grow: 5;
                }
                &.two:hover {
                    flex-grow: 5;
                }
                &.three:hover {
                    flex-grow: 5;
                }
            }
        }
    }
}

@media (min-width: 740px) {

    section.items {

        h1 {
            font-size: 2.6rem;

        }

        h2 {
            font-size: 1.8rem;
        }
    }
}