//sekcja przedmiotów

section.items {
    height: auto;
    width: 100%;

    h1 {
        color: white;
        font-size: 1.6rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-top: 20px;
    }

    h2 {
        padding: 20px 10px 20px 10px;
        color: white;
        font-size: 1.1rem;
        text-align: center;
        text-transform: uppercase;
    }
    div.items_photo {
        width: 100%;
        display: flex;
        flex-direction: column;
        img {
            flex-basis: 50%;
            width: 100%;
            padding: 20px;
        }
    }
}

@media (orientation: landscape) {
    section.items {
        height: auto;
        width: 100%;
        div.items_photo {
            display: flex;
           div {
               flex-basis: 50%;
            img {
                width: 100%;
                padding: 20px;
            }
        }
        }
    }
}

@media (min-width: 740px) {

    section.items {

        h1 {
            font-size: 2.6rem;

        }

        h2 {
            font-size: 1.8rem;
        }
    }
}