// właściwości wspólne dla wielu elementów

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: white;

    body {
        height: 100vh;
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        background-color: #000;

        .orange {
            color: #f26202;
        }

        div.wrapper {
            background-color: #000;
            height: 100%;
            max-width: 1100px;
            margin: 0 auto;
        }
    }
}

/* Cookie warning */
#cookie-warn{
    position: fixed;
    display: flex;
    bottom: 0;
    background: #D66E1A;
    opacity: .9;
    margin: 0 auto;
    padding: 15px;
    width: 100vw;
    max-width: 1100px;
    display: none;
    z-index: 99;
    a {
        display: block;
        color: black;
        text-transform: uppercase;
        padding-top: 10px;
        margin: 0 auto;
        text-align: center;
    }
    p {
        font-size: 14px;
        color: black;
        flex-direction: column;
        text-align: center;
        padding: 0 15px 0;
        strong {
            color: black;
            font-size: 20px;
        }
    }
}