//sekcja o nas

section.we {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;

    div.description {
        height: auto;

        h1 {
            color: white;
            font-size: 1.6rem;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 20px;
            & + h1 {
                padding-top: 0;
            }
        }

        p {
            font-size: .9rem;
            background-color: rgba(255, 255, 255, .25);
            border-radius: 25px;
            margin: 0 30px;
            padding: 10px;
            text-align: center;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
    }

    div.portraites {

        display: flex;
        flex-direction: row;
        justify-content: center;
        height: auto;
        flex-basis: 35%;
        margin-bottom: 20px;

        .photo {
            width: 100%;
            transform: scale(1);
            transition: 1s;
        }

        .photo.off {
            transform: scale(0);
        }

        img {
            display: block;
            padding: 10px 40px 10px 40px;
            width: 100%;
            margin: 0 auto;
        }

        p {
            font-size: 1rem;
            margin: 10px 0;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }
}

@media (orientation: portrait) {
    section.we {
        div.portraites {
            flex-direction: column;
            img {
                width: 80%;
            }
        }
    }
}

@media (min-width:920px) {
    section.we {
        div.description {
            h1 {
                font-size: 2.6rem;
            }

            p {
                font-size: 1.2rem;
            }
        }

        div.portraites {
            img {
                padding: 10px 60px 10px 60px;
            }
        }
    }
}