//sekcja warsztatu

section.workshop {
    height: 100vh;
    width: 100%;
    background-image: url(../img/warsztat.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;

    div.workshop_wrapper {

        background-color: rgba(0, 0, 0, .7);
        height: 100vh;

        h1 {
            color: white;
            font-size: 1.6rem;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding-top: 20px;
        }

        h2 {
            padding: 20px 10px 20px 10px;
            color: white;
            font-size: 1.1rem;
            text-align: center;
            text-transform: uppercase;
        }

        p {
            font-size: 1rem;
            background-color: rgba(255, 255, 255, .25);
            border-radius: 25px;
            margin: 0 20px 0 20px;
            padding: 10px;
            text-align: center;
            letter-spacing: 1px;
        }
    }
}

@media (orientation: landscape) {
    section.workshop {
        height: 100vh;
        background-repeat: no-repeat;
        background-size: 150%;
        background-position: right;
        background-attachment: fixed;
    }
}

@media (min-width: 600px) and (orientation: landscape) {
    section.workshop {
        height: 80vh;
    }
}

@media (min-width: 340px) and (min-height: 500px) {
    section.workshop {
        height: 80vh;
    }
}

@media (min-width: 340px) and (min-height: 650px) {
    section.workshop {
        height: 50vh;
    }
}

@media (min-width: 700px) {
    section.workshop {
        height: 70vh;
    }
}

@media (min-width: 740px) {
    section.workshop {
        height: 100vh;
        background-size: contain;
        background-position: right;

        div.workshop_wrapper {
            position: relative;
            width: 50%;
            height: 40vh;
            background-color: transparent;

            h1 {
                position: absolute;
                top: 20%;
                left: 0%;
                width: 100%;
                font-size: 3rem;
                margin: 0 auto;
            }

            h2 {
                position: absolute;
                top: 40%;
                left: 0%;
                width: 100%;
                font-size: 2rem;
                margin: 20px auto;
                padding: 20px;
            }

            p {
                position: absolute;
                top: 100%;
                left: 0%;
                font-size: 1.4rem;
                margin: 0 20px;
                width: 90%;
            }
        }
    }
}