//sekcja warsztatu

section.workshop {
    height: auto;
    width: 100%;
    background-image: url(../img/warsztat_1024.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;

    div.workshop_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: rgba(0, 0, 0, .7);
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;

        h1 {
            color: white;
            font-size: 2rem;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding-top: 20px;
        }

        h2 {
            padding: 20px 10px 20px 10px;
            color: white;
            font-size: 1.1rem;
            text-align: center;
            text-transform: uppercase;
        }

        p {
            font-size: 1.4rem;
            background-color: rgba(255, 255, 255, .25);
            border-radius: 25px;
            margin: 0 20px 0 20px;
            padding: 10px;
            text-align: center;
            letter-spacing: 1px;
        }
    }
}

@media (max-width: 1000px) {
    section.workshop {
        background-image: url(../img/warsztat_800.png);

        div.workshop_wrapper {

            h1 {
                font-size: 1.8rem;
            }

            p {
                font-size: .9rem;
                padding: 5px;
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: 600px) {
    section.workshop {

        div.workshop_wrapper {

            h1 {
                font-size: 1.6rem;
            }

            h2 {
                font-size: 1.1rem;
            }

            p {
                font-size: .9rem;
                margin: 0 30px;
            }
        }
    }
}

@media (min-width: 860px) {
    section.workshop {
        height: 100vh;

        div.workshop_wrapper {
            height: 100vh;
            width: 50%;
            background-color: transparent;
            justify-content: center;

            h1 {
                font-size: 2.6rem;
            }

            h2 {
                font-size: 1.6rem;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }
}